<mat-card>
    <mat-card-header>
        <mat-card-title>{{ response.title }}</mat-card-title>
        <mat-card-subtitle>Astronomy Picture of the Day: {{ response.date }}</mat-card-subtitle>
    </mat-card-header>

    <iframe 
        *ngIf='response.media_type == "video"' 
        mat-card-image
        height="480px"
        [src]='response.url'
        frameborder="0">
    </iframe>

    <img
        *ngIf='response.media_type == "image"'
        mat-card-image
        [src]='response.url'>

    <mat-card-content>
        {{ response.explanation }}
    </mat-card-content>
</mat-card>