<mat-card>
    <mat-card-header *ngIf='available'>
        <mat-card-title>Latest Martian Weather Data</mat-card-title>
    </mat-card-header>

    <mat-card-content *ngIf='available'>
        <mat-list>
            <mat-list-item>
                <h3 matLine>Atmospheric Temperature</h3>
                <p matLine>Average: {{ response.sol.AT.av }} &deg;F</p>
                <p matLine>Range: {{ response.sol.AT.mn }} &deg;F to {{ response.sol.AT.mx }} &deg;F</p>
            </mat-list-item>

            <mat-list-item>
                <h3 matLine>Horizontal Wind Speed</h3>
                <p matLine>Average: {{ response.sol.HWS.av }} m/s</p>
                <p matLine>Range: {{ response.sol.HWS.mn }} m/s to {{ response.sol.HWS.mx }} m/s</p>
            </mat-list-item>

            <mat-list-item>
                <h3 matLine>Atmospheric Pressure</h3>
                <p matLine>Average: {{ response.sol.PRE.av }} Pa</p>
                <p matLine>Range: {{ response.sol.PRE.mn }} Pa to {{ response.sol.PRE.mx }} Pa</p>
            </mat-list-item>

            <mat-list-item>
                <h3 matLine>Wind Direction (Most Common)</h3>
                <p matLine>
                    {{ response.sol.WD.most_common.compass_degrees }}&deg;
                    ({{ response.sol.WD.most_common.compass_point }})
                </p>
            </mat-list-item>
        </mat-list>
    </mat-card-content>

    <mat-card-content *ngIf='!available'>
        <p>No Insight weather data available</p>
    </mat-card-content>
</mat-card>