<mat-card>
    <mat-card-header *ngIf='available'>
        <mat-card-title>Latest Martian Weather Data</mat-card-title>
    </mat-card-header>

    <mat-card-content *ngIf='available'>
        <mat-list>
            <mat-list-item *ngIf='response.AT'>
                <h3 matLine>Atmospheric Temperature</h3>
                <p matLine>Average: {{ response.AT.av }} &deg;F</p>
                <p matLine>Range: {{ response.AT.mn }} &deg;F to {{ response.AT.mx }} &deg;F</p>
            </mat-list-item>

            <mat-list-item *ngIf='response.HWS'>
                <h3 matLine>Horizontal Wind Speed</h3>
                <p matLine>Average: {{ response.HWS.av }} m/s</p>
                <p matLine>Range: {{ response.HWS.mn }} m/s to {{ response.HWS.mx }} m/s</p>
            </mat-list-item>

            <mat-list-item *ngIf='response.PRE'>
                <h3 matLine>Atmospheric Pressure</h3>
                <p matLine>Average: {{ response.PRE.av }} Pa</p>
                <p matLine>Range: {{ response.PRE.mn }} Pa to {{ response.PRE.mx }} Pa</p>
            </mat-list-item>

            <mat-list-item *ngIf='response.WD && response.WD.most_common'>
                <h3 matLine>Wind Direction (Most Common)</h3>
                <p matLine>
                    {{ response.WD.most_common.compass_degrees }}&deg;
                    ({{ response.WD.most_common.compass_point }})
                </p>
            </mat-list-item>
        </mat-list>
    </mat-card-content>

    <mat-card-content *ngIf='!available'>
        <p>No Insight weather data available</p>
    </mat-card-content>
</mat-card>